# Python
# =======================================================
# Arquivos de bytecode (compilados)
*.pyc
__pycache__/

# Ambiente virtual
venv/
.venv/
env/

# Arquivos de configurações locais
.idea/
.vscode/
*.iml
.gradle/
local.properties
.DS_Store

# Diretórios de build e de saída
/build/
/captures/
.externalNativeBuild/
.cxx/